/* CSS MADRE NON TOGLIERE */
* {
margin:0;
padding:0
}
body,html {
height:100%
}
ul,li {
list-style-type:none
}
a:hover {
text-decoration:none
}
.wrapper_zero {
width:960px;
margin:auto
}
.wrapper {
padding-bottom:20px
}
.wrapper .left {
width:349px;
float:left
}

.wrapper .left .header {
border:7px solid #7b642a;
width:335px;
height:386px
}

.wrapper .right {
width:590px;
float:left;
padding-left:11px
}
.article_body {
line-height:20px
}
.article_body p {
padding-bottom:10px
}
.border {
border-bottom:1px solid #6d6653;
padding-top:15px
}
#boxCerca {
position:static;
float:left;
width:529px;
}

.flags_mdrr {
font-size:10px;
float:right;
width:115px
}

.sidebar {
padding-top:10px;
height:45px;
font-size:10px
}
.sidebar img,.sidebartop img {
vertical-align:middle
}
.save {
width:170px;
float:left;
padding-top:0;
}
.friends {
width:180px;
float:left;
padding-top:2px;
}
.chiama_gratis {
width:146px;
float:left
}
.sound {
width:90px;
float:left;
padding-top:10px
}
.flags {
padding:15px 0 0 188px
}
.txt_left {
width:188px;
padding-right:18px;
float:left
}
.txt_left .article_title {
height:43px;
margin-bottom:13px;
overflow:hidden
}
.txt_left .images {
display:block;
height:131px
}
.txt_left .article_body {
padding-top:10px;
height:120px;
overflow:hidden
}
.txt_left .link {
border-top:1px solid #6d6653;
padding-top:10px;
margin-top:15px
}
.cnt_right {
width:384px;
float:left
}
.text_of_text_border {
border-top:1px solid #6d6653;
margin-top:15px
}
.text_of_text .article_body,.text_of_text_border .article_body,.bg_color .article_body {
float:left;
width:312px;
padding:10px 0
}
.bg_color .article_body {
width:292px
}
.text_of_text .images,.text_of_text_border .images,.bg_color .images {
width:268px;
float:right;
padding-top:0
}
.text_of_text img,.text_of_text_border img,.bg_color img {
border:2px solid #837b62;
margin-top:10px
}
.where_top_left {
width:315px;
float:left;
padding:10px
}
.where_top_right {
float:left;
width:240px;
padding-top:10px;
padding-left:15px
}
.info_dove_siamo {
height:auto;
margin:15px 0 0;
padding:10px 10px 10px 15px
}
.bottom_map02,.en .bottom_map02,.es .bottom_map02,.fr .bottom_map02,.de .bottom_map02 {
padding:5px 0 5px 5px
}
.where,.timetables,.utility_left {
float:none;
overflow:auto;
height:auto;
width:auto;
font-family:auto;
font-size:13px;
line-height:20px;
position:static;
margin:0;
padding:0
}
.contact_left {
width:315px;
float:left
}
.contact_left #pagetitle {
padding:10px 10px 0
}
.on_top {
padding:5px 10px 10px
}
.on_bottom {
padding:15px 10px 0
}
.contact_right {
width:260px;
padding-left:15px;
float:left
}
.form_detail {
float:none;
width:260px
}
.prev_scrivici .form_detail label {
width:260px;
padding:10px 0 5px
}
.prev_scrivici .form_detail input {
width:248px;
border:1px solid #9e8f6b;
padding:5px
}
.prev_scrivici .text_area {
margin-top:10px
}
.prev_scrivici .text_area textarea {
width:248px;
background-color:#bdae88;
border:1px solid #9e8f6b;
margin-top:5px;
padding:5px
}
.textct_of_text {
width:292px;
float:left;
padding:15px 10px 0
}
.textct_of_text .article_body {
padding:10px 0
}
.text_simple .article_body {
padding:5px 0 0
}
.catalogo .element_container {
width:270px;
overflow:hidden;
float:left;
margin:20px 25px 0 0
}
.catalogo .img_window {
width:104px;
height:104px;
overflow:hidden;
float:left;
margin:0 5px 0 0
}
.catalogo .text_window {
float:right;
width:156px;
height:66px;
overflow:hidden;
margin:0 0 10px
}
.catalogo .ingrandisci {
float:right;
text-align:left;
width:156px;
font-weight:700;
border-top:1px solid #9e8f6b;
padding-top:5px
}
.gallery img {
border:2px solid #837b62;
margin:8px 14px 10px 0
}
.listino {
padding-top:25px
}
.listino table {
width:100%
}
.listino table td {
border:1px solid #9e8f6b;
}
.footer_bg {
height:52px;
width:586px;
margin-left:360px;
padding:2px
}
.powered {
font-size:10px;
width:148px;
float:left;
border-left:1px solid #b6b2a8;
height:48px;
text-align:left;
padding:5px 0 0 5px
}
.footer {
font-size:11px;
padding-top:5px;
width:425px;
padding-left:5px;
float:left
}
.menu {
font-size:14px;
padding:15px 0 0 170px
}
.menu li {
list-style:none;
position:relative;
width:140px;
height:30px;
line-height:30px;
padding:0 5px 0 33px
}
.menu ul ul {
z-index:3000;
top:0;
left:170px
}
.menu ul ul li {
padding-left:25px;
background-position:10px 12px
}
.menu ul li:hover ul {
visibility:visible
}

.sidebartop,.main_text .article_body,.calculate,.prev_scrivici .check_autorizzazione,.button_invia {
padding-top:10px
}

.check_autorizzazione a,.check_autorizzazione a:hover{
font:14px "Trebuchet MS";
text-decoration:none;
}

.txt_left img,.cnt_right img,.catalogo .img_window img {
border:2px solid #837b62
}
.main_text,.bg_color {
padding:10px
}
.text_of_text,.text_of_text_border,.text_simple {
padding-top:15px
}
.where_top_left .article_body,.where_top_right .article_body,.contact_left .article_body {
padding-top:5px
}





/* FINE CSS MADRE */




/*-------------------------------------------------------------------------------------*/
*{padding:0;margin:0;}
body{font:13px/15px Arial, Helvetica, sans-serif !important;}
a{text-decoration:none !important;}

div#maincont{width:954px;margin:0 auto;min-height:450px;padding-bottom:10px;}
div#flash{width:954px;margin:0 auto;height:470px;}
div#footer{width:954px;margin:0 auto;min-height:60px;}
div.dati_sociali{width:512px;float:left;padding:10px;min-height:60px;}
div.powered{width:416px;float:right;min-height:80px;madding-top:10px;}
div.powered img{vertical-align:middle;}
div.welcomeBox{padding:10px;position:absolute;top:300px;width:398px;left:50%;margin-left:58px;}
div.videoBox{width:385px;padding:10px;float:right;text-align:center;}
div.Lcont{padding:10px 5px;min-height:275px;}
div.Rcont {left:50%;margin-left:-90px;position:absolute;top:520px;width:540px;}
div.Bcont{margin-top:50px;padding:10px 5px;}
div.Rdove {left:50%;margin-left:-190px;position:absolute;top:535px;width:660px;}
div.Lgal{float:left;padding:10px 5px;}
div.Rgal{float:left;padding:10px 5px;width:584px;}
.riga{padding:10px 5px;clear:both;}

/**/
/**/
#search-box{margin:0 auto;position:absolute;top:410px;left:50%;margin-left:-610px;}
#boxCerca{}
#upselling{position:absolute;width:800px;top:10px;left:50%;margin-left:-265px;}
#upselling img{vertical-align:middle;}
.sound, #sound_content,#chiama_gratis,#div_mdrr,#flags{float:left;}
#div_mdrr{position:absolute;top:50px;}
#salva_outlook,#segnala_amico{float:right;}
#flags{padding:0;margin-right:10px;}
#chiama_gratis img{height:24px;width:auto;}
#sound_content{margin:5px;}
#salva_outlook a,#segnala_amico a{font-size:11px;}
/**/





div#main{position:absolute;left:50%;top:60px;margin-left:-20px;}
#area li{display:inline;}
#area li a,#area li.attivo{
padding:5px;
margin:5px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
text-align:center;
text-transform:uppercase;
font-size:14px;
}

._area_1{
position:absolute;
display:none;
font-weight:bold !important;
margin-top:6px;
border-radius:5px !important;
-moz-border-radius:5px !important;
-webkit-border-radius:5px !important;}
._area_1 li{display:block !important;}
._area_1 li a{
font-size:12px !important;
display:block !important;
background-image:none !important;
padding:2px 10px !important;
text-align:left !important;
border-radius:0 !important;
-moz-border-radius:0 !important;
-webkit-border-radius:0 !important;}

._area_1 li a:hover,._area_1 li.attivo{text-decoration:underline !important;text-align:left !important;font-size:12px !important;}

#voce_2:hover #area_2{display:block;}
#voce_3:hover #area_3{display:block;}
#voce_4:hover #area_4{display:block;}

#area_2{margin-left:65px;}
#area_3{margin-left:165px;}
#area_4{margin-left:305px;}
.attivo #area_2{}
.attivo #area_3{}
.attivo #area_4{}


.text02 .article_title{font-size:24px;font-weight:bold;height:24px;margin:10px 0;padding:15px 10px;width:230px;}
.text02 .article_body{line-height:16px;margin-top:10px;clear:both;min-height:20px;}
.text02 .link, .cf_dett{float:none;padding:10px 34px;font-weight:bold;}

.text01a .article_title,.text01b .article_title,.text01 .article_title{font-size:24px;padding:20px 10px;}
.text01a .article_body{width:350px;}
.text01b .article_body{width:270px;}

.prev_scrivici .form_detail {float:none;}
.prev_scrivici .text_area{float:right;margin-top:-185px;font-weight:bold;#margin-top:-193px;}
.prev_scrivici .check_autorizzazione{margin-left:280px;margin-top:-55px;padding-top:10px;width:290px;}
.prev_scrivici .button_invia{margin-left:280px;padding-top:10px;width:290px;}


.map{width:433px;height:240px;}
#where_{width:433px;height:240px;}
.where{font:13px Arial, Helvetica, sans-serif;}
.calculate a{font:bold 13px Arial, Helvetica, sans-serif;text-decoration:underline !important;}

.info_dove_siamo{width:200px;float:right;margin-top:-215px;}

.fg_el a{float:left;margin:10px 14px 10px 0;}

.cont_cat{margin-bottom:20px;}
.img_window{width:50%;float:left;margin:10px 0 0 0;padding-bottom:10px;}
.img_window a img{float:left;margin-right:10px;margin-left:10px;}
.txt_cont{margin-left:110px;min-height:78px;}
.cf_dett{padding:10px 25px;}


.listino table th{padding:5px 0;}
.listino table td{text-align:center;}

.box260{width:260px;padding:0 0 0 10px;}
.wrap{clear:both;}
.floatedLeft{float:left;}
.floatedRight{float:right;}

.imageLeft .images{float:left; margin:5px 10px 5px 0;}
.imageRight .images{float:right; margin:5px 0 5px 10px;}






.article_body{display:block;min-height:150px;padding-bottom:20px;}


#area_2{*margin-left:-88px;*top:9px;}
#area_3{*margin-left:-134px;*top:9px;}
#area_4{*margin-left:-105px;*top:9px;}
.attivo #area_2{*margin-left:-78px;*margin-top:6px;}
.attivo #area_3{*margin-left:-124px;*margin-top:6px ;}
.attivo #area_4{*margin-left:-95px;*margin-top:6px;}

.sound{padding:0;}
.text02 .article_title{line-height:24px;padding:8px 10px 27px;overflow:hidden;}
.plancia_vetrina {position:relative;margin:0 auto;}


.article_body,.txt_cont {padding-bottom:20px;}

.article_body ul li{list-style:disc inside;}
.article_body ol li{list-style:decimal inside;}

.txt_cont ul li{list-style:disc inside;}
.txt_cont ol li{list-style:decimal inside;}

.text_popup ul li{list-style: disc inside;}
.text_popup ol li{list-style: decimal inside;}

.element_container {float:left;position:relative;width:48%;}
.element_container p{border-bottom:none;padding-bottom:0;}
.preventivo .article_body{display:none;}


.text02 .link, .cf_dett {
display:block;
background-position:left top;
width:123px;
height:21px;
overflow:hidden;
line-height:14px;
padding:3px 5px 9px 4px;
text-align:center;}

.welcomeBox .article_title{min-height:20px;}
.welcomeBox .article_body{min-height:44px;overflow:hidden;height:44px;}
.videoBox .article_body{display:none;}
.videoBox .article_title{line-height:20px;}

.text01a .article_title, .text01b .article_title, .text01 .article_title{padding:10px;line-height:20px;}
.text02 .article_title {background-position:left top;}

.img_window{width:auto;*width:49%;}
.txt_cont{width:350px;}
.cf_dett{display:block;text-align:center;padding-top:15px;margin-left:5px;}
.title340 .article_title {width:320px;}
.title340 .article_body{width:320px;}
.title570 .article_title{height:45px;overflow:hidden;line-height:24px;padding-top:5px;}
.listino table{display:block;}
div.Lcont{min-height:400px;}

div.sediBox{padding-left:5px;}


.listino{padding-top:0;}
.listino table{float:right;width:590px;}
.titleBig .article_title {width:925px;margin-bottom:10px;}
.titleBig .article_body{width:330px;float:left;margin-right:20px;}

.titleBig1 .article_title{width:925px;margin-bottom:10px;}
.titleBig1 .article_body{display:none;}

.text01b .article_body{width:320px;float:left;}
.dove_siamo {border:1px solid;float:right;}
.title570 .article_title{width:570px;}

.preventivo{width:570px;float:right;margin-right:10px;}





div#main{margin-left:-50px;}
#area{padding:10px;background-color:#fff;}
.welcomeBox{filter:alpha(opacity=80);opacity:0.9;}
.article_body{line-height:normal;}

.attivo #area_2{*margin-top:20px;}
.attivo #area_3{*margin-top:20px;}
.attivo #area_4{*margin-top:20px;}

._area_1{*margin-top:20px;}

div.riga .imageLeft .article_body{width:644px;}
div.riga .imageRight .article_body{width:644px;}
.full .article_body{width:100%;}

.img_window a img{margin-right:10px;}
.txt_cont{margin-left:120px;*width:343px;}
.Lcont .text01b .article_body{width:275px;}
.dove_siamo{float:right;margin-right:0;display:block;border:none;}
#where_{width:645px;}
.info_dove_siamo{width:175px;}
.prev_scrivici .check_autorizzazione{*width:260px;margin-left:310px;}
.prev_scrivici .button_invia{width:auto;margin-left:310px;}





.element{vertical-align:top;overflow:visible !important;}
.listino{padding-top:0;}
.listino table{float:right;width:590px;}
.titleBig .article_title {width:925px;margin-bottom:10px;}
.titleBig .article_body{width:644px;float:left;margin-right:20px;}


.titleBig1 .article_title{width:925px;margin-bottom:10px;background:url("img/bg-title-page.png") no-repeat scroll 0 0 transparent;}
.titleBig1 .article_body{display:none;}

.text01b .article_body{width:320px;float:left;}
.dove_siamo {float:right;}
.title570 .article_title{width:570px;}

.preventivo{width:570px;float:right;margin-right:10px;}




.full .article_body{width:100%;}
.Lcont .text01a .article_body{width:299px;float:left;}
.Lcont .text01b .article_body{width:299px;float:left;}


.prev_scrivici .check_autorizzazione,.prev_scrivici .button_invia {margin-left:310px;}

.dove_siamo{margin-right:185px;width:430px;border:none;}
.info_dove_siamo{float:left;margin-left:430px;}
.txt_cont{width:330px;}


/* -- FIX SESSIONE UAT PAGINA TESTI/IMMAGINI --*/
.width_515{
width:515px;
float:left;
margin-right:10px;
}
.width_515 .article_title{width:495px !important;min-height:35px;}
.width_515 .article_body{width:215px !important;}

.width_415{width:400px;float:left;}
.width_415 .article_title{width:400px;}
.width_415 .article_body{width:400px;}

.boxed .article_title{min-height:20px;min-width:100px;border-radius:0.2em;-moz-border-radius:0.2em;-webkit-border-radius:0.2em;}


/* fix novembre/dicembre 2012   -- POLOPOLY-401 segnalazione webmaster su template OTA */


/* sistemazione menu */
#area {
    float: right;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 59px;
}

div#main {
    margin: 0 auto!important;
    position: relative!important;
    width: 954px!important;
    left: 0;
	top: 0!important;

}


#___plusone_0 {
    display: block !important;
    height: 0 !important;
    margin: 0 auto !important;
    padding: 0;
    position: relative;
    width: 955px !important;
    z-index: 10000 !important;
}

#___plusone_0 iframe {
    position: absolute;
    right: 0;
    top: 40px;
    width: 35px;
}



/* sistemazione titoli e link */

.text02 .link, .cf_dett {line-height:25px;}
.text02 .article_title {text-align:center; line-height: 24px; padding: 16px 10px;}


body  .article .article_title { 
 margin-bottom:10px; 
 border-radius: 3px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 height:24px;
 line-height:25px;
 padding:15px;
 line-height:24px;
 }

.text01a .article_title, 
.text01b .article_title, 
.text01 .article_title {    
	   width:914px;
} 
 
.titleBig .article_title {

	width:914px;
	}

.boxed .article_title { 
margin-bottom: 12px!important;  
width:371px!important;
}

	
.width_515 .article_title {
    width: 484px !important;
}


.width_415 .article_title {
    width: 390px !important;
}

.title570 .article_title {
width:542px!important;
}

.title340 .article_title {
width:308px!important;
}


.welcomeBox	.text01 .article_title {width:auto;}

.box260 {width:255px;}	
.box260 .article .images { width:250px; height:250px; overflow:hidden; }
.box260 .article .images img{ width:250px; height:auto;  }
.box260 .article_body { width: 250px; }
.box260 .article_title { width: 220px; font-size:21px;}

div.videoBox{width:400px; }


/*correzione vetrina*/

.txt_cont {
    min-height: 42px;
	height: 42px;
    overflow: hidden;
}


#cat .img_window a.cf_dett {
    height: 21px;
    overflow: hidden;
    width: 123px;
    float: none;
    font-weight: bold;
    line-height: 21px !important;
    padding: 5px !important; }


